
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TAKWIRA </title>

  <!-- Bootstrap core CSS -->
  

  <!-- Custom styles for this template -->


</head>

<body>

  <app-navbar></app-navbar>
  <!-- Page Content -->
  <div class="container" style="margin-top: 150px;">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">TAKWIRA</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>

          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row">


            <div class="col-sm-12">
                <h3>Ajouter un nouveaux terrain</h3>
            <hr>
            <div class="add-form">
                <form [formGroup]="add" (ngSubmit)="addFeild()"  >
                    <div class="form-group">
                        <label for="">Titre</label>
                        <input type="text" name="" formControlName="name" class="form-control" placeholder="nom du terrain"  />
                    </div>
                    <div class="form-group">
                        <label for="">Catégory</label>
                        <input type="text" name="" formControlName="category" class="form-control" placeholder="Catégory du terrain"  />
                    </div>
                    <div class="form-group">
                        <label for="">Numéro télephone prop</label>
                        <input type="text" name="" formControlName="phone" class="form-control" placeholder="Numéro télephone prop"  />
                    </div>
                    <div class="form-group">
                        <label for="">Localisation</label>
                        <input type="text" name="" formControlName="location" class="form-control" placeholder="Localisation du terrain"  />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" [disabled]="! add.valid" >AJOUTER</button>
                    </div>
                    
                    
                </form>
            </div>
      
            </div>

        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
